<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grace.admin.mapper.SysDicGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.grace.admin.po.SysDicGroup">
        <result column="ID" property="id" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="TREE_ID" property="treeId" />
        <result column="NAME" property="name" />
        <result column="CODE" property="code" />
        <result column="IS_READER" property="isReader" />
        <result column="DESCRIPTION" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, UPDATE_TIME, TREE_ID, NAME, CODE, IS_READER, DESCRIPTION
    </sql>

</mapper>
