<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grace.admin.mapper.SysLoginMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.grace.admin.po.SysLogin">
        <result column="ID" property="id" />
        <result column="USER_ID" property="userId" />
        <result column="LOGIN_NUM" property="loginNum" />
        <result column="LOGIN_TIME" property="loginTime" />
        <result column="IS_LOCK" property="isLock" />
        <result column="LOGIN_EXIT_TIME" property="loginExitTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, USER_ID, LOGIN_NUM, LOGIN_TIME, IS_LOCK, LOGIN_EXIT_TIME
    </sql>

</mapper>
