<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grace.admin.mapper.SysUserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.grace.admin.po.SysUserRole">
        <result column="USER_ID" property="userId" />
        <result column="ROLE_ID" property="roleId" />
        <result column="ID" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ID, ROLE_ID, ID
    </sql>

    <delete id="deleteByUserId">
        delete  SYS_USER_ROLE  where USER_ID = #{userId}
    </delete>

</mapper>
